<!-- Feadtued Categories -->
{% load static %}

<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    
    <div class="row">
        {% for feature in featured_product %}
        <div class="col-4">
            <a href="{% url 'single_product' feature.id %}"><img src="{{ feature.image.url }}"></a>
            <h4>{{feature.title}}</h4>
            
            <p><b>${{feature.price}}</b></p>
        </div>
        {% endfor %}
    </div>
    
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for latest in latest_product %}
        <div class="col-4">
            <a href="{% url 'single_product' latest.id %}"><img src="{{latest.image.url}}"></a>
            <h4>{{latest.title}}</h4>
            
            <p><b>${{latest.price}}</b></p>
        </div>
   {% endfor %}
    </div>
   
</div>